<!DOCTYPE html>
<html>
  <!-- Website designed by Kevin Tan www.ktizzel.com -->
  <head>
    <title>Katie Colford</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Crimson+Text:400|Open+Sans:400' rel='stylesheet' type='text/css'>

    <link href="../css/home.css"rel="stylesheet" media="screen">

  </head>

  <body>

    <a href="../index.html"><h1 class="info" id="name">Katie Colford</h1></a>
    <a href="#"> <h1 class="info" id="about">About</h1> </a>
    <a href="contact.html"> <h1 class="info" id="contact">Contact</h1> </a>

    <p class="about-text">My name is Katie Colford, and I am a student in the architecture major at Yale University, concentrating in design. Outside the studio, I give tours at the Yale University Art Gallery and tours of campus, and I have worked in the Conservation Department at the Yale Center for British Art. I am the co-head of the undergraduate architecture society Ink & Vellum and have contributed artwork to Yale publications including the Yale Literary Magazine. I am fascinated by architecture as the intersection of art, philosophy, literature, science, and technology, and I am especially interested in the theoretical underpinning of the built environment.</p>

  </body>

</html>