<!DOCTYPE html>
<html>
  <!-- Website designed by Kevin Tan www.ktizzel.com -->
  <head>
    <title>Katie Colford</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Crimson+Text:400|Open+Sans:400' rel='stylesheet' type='text/css'>

    <link href="../css/home.css"rel="stylesheet" media="screen">

  </head>

  <body>

    <a href="../index.html"><h1 class="info" id="name">Katie Colford</h1></a>
    <a href="about.html"> <h1 class="info" id="about">About</h1> </a>
    <a href="#"> <h1 class="info" id="contact">Contact</h1> </a>

    <p class="contact-text">
      Katie Colford<br>
      Yale University, New Haven, CT<br>
      B.A. Architecture, Design Concentration<br>
      Class of 2016<br>
      katie.colford@yale.edu<br>
    </p>

  </body>

</html>