<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="static/home.css">
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Caudex|Permanent+Marker|Playfair+Display+SC|Bangers|Cinzel+Decorative' rel='stylesheet' type='text/css'>
	<script>

	function getRandomColor() {
	    var letters = '0123456789ABCDEF'.split('');
	    var color = '#';
	    for (var i = 0; i < 6; i++ ) {
	        color += letters[Math.floor(Math.random() * 16)];
	    }
	    return color;
	}
	function changeColor(){
   		 	// $('.d42').css('color', getRandomColor());
   		 	document.getElementById("d42").style.color = getRandomColor();

	}

	$(document).ready(function(){
		var i = 0
		while ( i < 50){
		setInterval(function () {changeColor()}, 300);
		 i++;
		}
		
		
		$('.main').delay(2000).fadeOut(500);
		var j = 0;
		$(window).scroll(function(){

			
			if (j%25 == 0){
	 			$('.rainbow').css("background-color", getRandomColor); 
	 		}
	 		if (j%40 == 0){
	 			$('.bear').css("background-color", getRandomColor); 
	 		}
	 		// console.log(j%10);
			j = j+ 1;
		});
	});
	</script>
</head>

<body>
	<div class="main">
		<h1 id="d42">D42</h1>
	</div>
<!-- 	<div class="main">
		<h1 class="greatest">THE GREATEST MINDS EVER ASSEMBLED</h1>
	</div> -->
	<div class="title">
	<h1>THE CONSORTIUM</h1>
	<p >AKA The Greatest Minds Ever Assembled</p>
	</div>
<div class="consortium">
<a href="http://www.ktizzel.com/blog"><div class="person ktizzel"><p class="name">Ktizzel</p></div></a>
<a href="http://www.jchang.me/posts.html"><div class="person jchang"><p class="name">J.Chang</p></div></a>
<a href="https://kangexpress.wordpress.com"> <div class="person stevie"><p class="name">Stevie</p></div></a>
<div class="person koop"><p class="name">KOOP</p></div>

<div class="person donnie"><p class="name">DONNIE</p></div>
<div class="person yarboff"><p class="name">Thomas Yarboff</p></div>
<a href="http://www.frankjwu.com"><div class="person franklin"><p class="name">Franklin</p></div></a>
<div class="person pat"><p class="name">The CEID Blog</p></div> 
</div>

<div class='rainbow'></div>
<p style="margin-top: 3em;">Blogs Ranked In Order of Best to Worst of the Week</p>
<div class="recent-blogs">
	<ol>
		<li class="blog">Jonathan: <span class="blog-name">{{j_title}}</span>, <span class="date">{{j_date}}</span></li>
	<li class="blog">Kevin: <span class="blog-name">{{k_title}}</span>, <span class="date">{{k_date}}</span></li>
	
	<li class="blog">Steven: <span class="blog-name">{{s_title}}</span>, <span class="date">{{s_date}}</span></li>	
	
	<li class="blog">Franklin: <span class="blog-name">{{f_title}}</span>, <span class="date">{{f_date}}</span></li>
	
	<li class="blog">Donald: Not available cuz he's a scrub</li>
	<li class="blog">Thomas: Not available cuz he's a scrub</li>
	<li class="blog">Koop: Not available cuz he's a scrub</li>
	<li class="blog">Pat: Not available cuz he's a scrub</li>
	</ol>
</div>

<div class="bear">
	<div class="bear-image"></div>
</div>
<div class='twitter'></div>
<!-- twitter feed -->

</body>
</html>